.tmp
.idea
.vscode
.npmrc
.nvmrc
node_modules/
.env*
# data/
build/
build-tools/
logs/
reports/
coverage/
dist/
**/*.md
**/*.yml
package-lock.json
static/**/*.min.js
static/**/*.min.css
static/**/*.hbs
config.json
