#item-slot-template,
#mount-template {
	display: none;
}

.iconlarge .inventory-slot {
	width: 56px;
	height: 56px;
	left: 6px;
	top: 6px;
	position: absolute;
	background-repeat: no-repeat;
	z-index: -2;
}

.wowhead-tooltip .whtt-sellprice {
	display: none;
}

#mounts {
	max-width: 400px;
}

#char-options td {
	vertical-align: top;
	padding-right: 32px;
}
