.wowhead-tooltip .whtt-sellprice {
	display: none;
}

#model-container,
#equipment-bottom {
	display: flex;
	justify-content: center;
}

#equipment-col-left,
#equipment-col-right {
	display: flex;
	flex-direction: column;
}

#model {
	max-width: 1000px;
}

#model,
#model canvas {
	touch-action: none;
	height: 100% !important;
	width: 100% !important;
}

.no-link-text a span {
	display: none;
}

#list-transmogs-container,
#lbl-hide-transmogs {
	display: none;
}
