.dataTable {
	width: 100% !important;
}

.dataTable td {
	text-align: center !important;
	vertical-align: middle !important;
}

.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_length {
	color: #e6e6e6;
}

.dataTables_wrapper .dataTables_filter input,
.dataTables_wrapper .dataTables_length select {
	color: #ffffff;
}

.dataTables_wrapper .dataTables_length select option {
	color: #000000;
}

table.dataTable tbody tr {
	background-color: #272727;
}

table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
	background-color: #313131;
}

table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
	background-color: #3f3f3f;
}

.dataTables_wrapper .dataTables_paginate .ellipsis {
	color: #e6e6e6;
	line-height: 32px;
}

.dataTables_wrapper .dataTables_paginate .button.is-dark.disabled {
	background-color: #282f2f;
	border-color: transparent;
	box-shadow: none;
	opacity: 0.5;
	cursor: not-allowed;
}

table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
	border-top: 1px solid #222222;
}

.dataTables_paginate .button {
	margin-right: 2px;
}
