#guild-header {
	display: flex;
}

#guild-header .emblem-container {
	margin-right: 1em;
}

#guild-header .info {
	text-align: center;
}

.faction {
	display: flex;
	align-items: center;
	justify-content: center;
}

.faction .logo {
	height: 32px;
	margin-right: 4px;
}

.guild-emblem {
	background: url("/img/guild-emblems/circle.png") no-repeat center;
}

#members_processing {
	height: 70px;
}
