<a href="/">Back to Armory</a>
<br><br>

<a href="/character/{{realm}}/{{name}}">Character</a>&ensp;
<a href="/character/{{realm}}/{{name}}/talents">Talents</a>&ensp;
<a href="/character/{{realm}}/{{name}}/achievements">Achievements</a>
<br>
<br>

<div class="char-name">
	<span class="char-name">{{name}}</span>
</div>
<div>
	Level <span class="char-level">{{level}}</span>
	<span class="char-race">{{race}}</span>
	<span class="char-class">{{class}}</span>
</div>
<div>
	<span class="char-realm">{{realm}}</span>
</div>
<div>
	{{#if online}}
	Online 🟢
	{{else}}
	Offline 🔴
	{{/if}}
</div>

<br>
